@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

*{    text-transform:capitalize;
}
.tab{
    tab-size: 120%;
    width :350px;
    height: 30px; 
    font-size: 20px;
}

h1.vForm{
    font-family: initial;
    text-align: center;
    background-color: brown;
    color:antiquewhite;
    font-size: 120px;
    background-size: 100px;
    cursor:auto;
    text-transform:capitalize;  
}
h3.bro{
   font-weight: bold;
   font-size: 40px;
   color:brown; 
   font-family: 'Source Serif Pro', serif;
   cursor:auto;
}
.date{
    color: gray;
    cursor:auto;
    width : 70px;
    display: inline-block;
    font-size: 25px;
}
.butt{
    border: 2px solid ;
     color:antiquewhite ;
     background-color:brown ;
     padding: 10px;
     border-radius: 10px;
     transition: all 0.5s;
     font-size: 25px;
     cursor: pointer;
     box-shadow: 1px 2px gray;
}
.butt:hover{
    border: 2px solid ;
     color:brown;
     background-color:antiquewhite ;
     padding: 10px;
     border-radius: 10px;
     transition: all 0.25s;
     font-size: 25px;
     cursor: pointer;
     box-shadow: 1px 2px gray;
}
body {
    background-color:antiquewhite;
}